body{
background-image: url('../OIP.jpg')
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(196, 208, 214);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 650px;
}

.button{
  background-color: rgb(247, 245, 243);
}

h1{
  font-weight: 780;
  font-style: italic;
  color: rgb(19, 18, 17);
  display: flex;
  align-self: center;
  
}

h2{
  color: rgb(12, 14, 14);
  margin-left: 17rem;
  font-weight: 700;
}